.contents
  .content__title
    = @user.name
    さん
  .content__follow{id: "followbox-#{@user.id}"}
    = render partial: "shared/followbox", locals: { user: @user }

  %ul.menu
    %li
      #posts.menu_item.active 投稿一覧
    %li
      = link_to favorite_user_path(@user.id) do
        #favorite_posts.menu_item お気に入り投稿一覧
  .container
    .show
      = render partial: "shared/post", collection: @posts
      = paginate(@posts)